.app-text-layout {
    display: flex;
    flex-direction: column;
}
.app-title {
    font-family: 'Mulish', sans-serif;
    color: #2622B5 !important;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
}

.app-publisher {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    color: #858798 !important;
}

.app-icon {
    width: 44.66px !important;
    height: 42px !important;
    border-radius: 8px !important;
}