.auto-complete-search {
    margin: 16px 0 !important;
    width: 100%;

    .ant-select-selection-search-input {
        border-radius: 10px;
        color: #858798;
    }

    .ant-select-dropdown {
        border-radius: 10px !important;
    }
}